body {
    background-color: #c0c0c0;
}

ul {
    list-style: none;
}
li {
    margin-top: 10px;
}
.wrapper {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


h1 {
    text-align:center;
}

.auteur, .description{
    color: coral;
    font-weight: bold;
    width: 200px;
}

a {
    margin: 20px;
}

img {
    padding-top: 20px;
}

