body {
    background-color: #fefefe;
}
.liste {
    align-content: stretch;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    color: coral;
    text-align:center;
}

h2, h3 {
    color: coral;
    text-align: center;
}