.navigation {

    bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 95vw;
}

.navigation a {
    text-decoration: none;
}


