.carousel .overlay {
    width: 80%;
    position: absolute;
    top: 200px;
}

.wrapper {
    background-color: black;
    color: #fff;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}
li {
    margin-bottom: 20px;
}